<div>
  <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
    <a class="navbar-brand" href="/merchant"><img src="../../assets/logo.png" alt="logo" height="30" width="30"><span class="brand-color">UP</span>FRONT</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Partners <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">How it works</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" id="">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-default"  routerLink="/signup" ><span class="brand-color">Signup</span></a>
        </li>
      </ul>
    </div>
  </nav>
</div>