.search {
    width: 100%;
    position: relative;
  }
  
  .searchTerm {
    float: left;
    width: 100%;
    border: 3px solid black;
    padding: 5px;
    height: 40px;
    border-radius: 5px;
    outline: none;
    color: #9DBFAF;
  }
  
  .searchTerm:focus{
    color: #00B4CC;
  }
  
  .searchButton {
    position: absolute;  
    right: -50px;
    width: 40px;
    height: 36px;
    border: 0px solid white;
    background: white;
    text-align: center;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
  }
  
  /*Resize the wrap to see the search bar change!*/
  .wrap{
    /* width: 50%; */
    margin-left: 30%;
    width: 25%;
  }
  
  .order-table {
    width: 100%;
  }

  .card {
    background: #F3F3F3
  }

  #round {
    height: 25px;
    width: 25px;
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
    display: inline-block;
}

.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.overflow-handling {
  overflow-x: hidden;
}

.container-fluid {
  /* top-botton: 0px and left-right: 10px */
  margin: 0px 10px;
}

.text-size {
  font-size: 20px;
}

.bg-color {
  background-color: orange;
}

.display-right {
  flex: 1 1 auto;
}

.restrict_overflow {
  overflow-x: hidden;
}