<div class="container-fluid mt-3">
  <mat-tab-group>
    <mat-tab label="All">
      <div>
        <div class="row mt-5">
          <div class="col-md-2 text-center">
            <span><b>Order ID</b></span>
          </div>
          <div class="col-md-4 text-center">
            <span><b>Items</b></span>
          </div>
          <div class="col-md-2 text-center">
            <b>Status</b>
          </div>
          <div class="col-md-2 text-center">
            <b>Time</b>
          </div>
        </div>
        <div *ngFor="let order of orderDetails" class="mt-2">
          <div class="card">
            <div class="row">
              <div class="col-md-2">
                <div class="text-center">
                  <span>{{order.order_id}}</span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="text-center">
                  <div *ngFor="let item of order.items">
                    <span>{{ item }}</span>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="text-center">
                  {{order.status}}
                </div>
              </div>
              <div class="col-md-2">
                <div class="text-center">
                  {{order.order_time}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Processing">

      <!-- The processing order structure -->
      <div class="row mt-5">
        <div class="col-md-2">
          <div class="text-center">
            Order ID
          </div>
        </div>
        <div class="col-md-3">
          <div class="text-center">
            Items
          </div>
        </div>
        <div class="col-md-1">
          <div class="text-center">
            Quantity
          </div>
        </div>
        <div class="col-md-2">
          <div class="text-center">
            Amount
          </div>
        </div>
        <div class="col-md-2">
          <div class="text-center">
            Status
          </div>
        </div>
        <div class="col-md-2">
          <div class="text-center">
            Time
          </div>
        </div>
      </div>

      <div *ngFor="let order of orderDetails; let i = index" class="mt-2">
        <div class="card">
          <div class="row add_padding">
            <div class="col-md-2">
              <div class="text-center">
                {{ order.order_id }}
              </div>
            </div>
            <div class="col-md-3">
              <div *ngFor="let item of order.items" class="text-center">
                {{item}}
              </div>
            </div>
            <div class="col-md-1">
              <div *ngFor="let quant of order.quantites">
                <div class="text-center">
                  {{quant}}
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="text-center">
                {{order.amount}}
              </div>
            </div>
            <div class="col-md-2">
              <div class="text-center">
                <a role="button" class="btn btn-warning">Completed</a>
              </div>
            </div>
            <div class="col-md-2">
              <div class="text-center">
                {{order.order_time}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Completed">
      <!-- The completed order structure -->
      <div class="row mt-5">
        <div class="col-md-2">
          <div class="text-center">
            Order ID
          </div>
        </div>
        <div class="col-md-3">
          <div class="text-center">
            Items
          </div>
        </div>
        <div class="col-md-1">
          <div class="text-center">
            Quantity
          </div>
        </div>
        <div class="col-md-2">
          <div class="text-center">
            Amount
          </div>
        </div>
        <div class="col-md-2">
          <div class="text-center">
            Time
          </div>
        </div>
      </div>

      <div *ngFor="let order of orderDetails; let i = index" class="mt-2">
        <div class="card">
          <div class="row">
            <div class="col-md-2">
              <div class="text-center">
                {{ order.order_id }}
              </div>
            </div>
            <div class="col-md-3">
              <div *ngFor="let item of order.items" class="text-center">
                {{item}}<br>
              </div>

            </div>
            <div class="col-md-1 text-center">
              <div *ngFor="let quant of order.quantites">
                <div class="text-center">
                  {{quant}}<br>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="text-center">
                {{order.amount}}
              </div>
            </div>
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-6">Ordered</div>
                <div class="col-md-6">{{order.order_time}}</div>
              </div>
              <div class="row">
                <div class="col-md-6">Picked Up</div>
                <div class="col-md-6">{{order.order_completion_time}}</div>
              </div>
              <div class="row">
                <div class="col-md-6">Payment</div>
                <div class="col-md-6">{{order.pay_mode}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>