<div class="container-fluid">
  <div class="row space_top">
    <div class="col-md-4 split left">
      <div class="row col-md">
        <b>Admin Details</b>
      </div>
      <div class="row col-md text-center space_top"><img src='{{adminDetails.imgUrl}}' style="width:100px; height:100px"
          alt="adming Image"></div>
      <div class="row col-md space_top">{{adminDetails.name}}</div>
      <div class="row col-md space_top">{{adminDetails.mobileNumber}}</div>
      <div class="row col-md space_top">{{adminDetails.email}}</div>
      <div class="row col-md space_top">{{adminDetails.address}}</div>
      <div class="row col-md space_top">
        <a class="button btn btn-secondary align-items-center">Update</a>
      </div>
    </div>
    <div class="col-md-8 right">
      <div class="row col-md">
        <div class="display-right"></div>
        <a class="button btn btn-warning"><i class="fa fa-bar-chart" aria-hidden="true"></i>&nbsp;Statistics</a>
        <a class="button btn btn-default" routerLink="/restaurants"><i class="fa fa-home"
            aria-hidden="true"></i>&nbsp;Home</a>
      </div>
      <div class="row col-md space_top">
        <h3>Resturant Details</h3>
      </div>
      <div class="row space_top">
        <div class="col-md-6">
          <img src="../../assets/rest_1.jpg" style="width: 300px; height: 200px" alt="restaurant image">
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md">
              <b>{{adminDetails.resturantDetails.name}}</b>
            </div>
          </div>
          <div class="row space_top">
            <div class="col-md">
              <i class="fa fa-coffee" aria-hidden="true"></i><span>{{adminDetails.resturantDetails.type}}</span>
            </div>
          </div>
          <div class="row space_top">
            <div class="col-md">
              <i class="fa fa-phone" aria-hidden="true"></i><span>{{adminDetails.resturantDetails.phoneNo}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row col-md space_top">8:00AM - 11:00 PM</div>
      <div class="row space_top">
        <div class="col-md-2">
          <b>Ratings</b>
        </div>
        <div class="col-md-4">
          <div class="rating">
            <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
          </div>
        </div>
      </div>
      <div class="row space_top">
        <div class="col-md-2">
          <b>Reviews</b>
        </div>
        <div class="col-md-4">
          <a class="button">See all reviews</a>
        </div>
      </div>
      <div class="row space_top">
        <div class="col-md-6">
          <span><b>GST Number</b></span><br>
          <input type="text">
        </div>
        <div class="col-md-6">
          <span><b>PAN Number</b></span><br>
          <input type="text">
        </div>
      </div>
      <div class="row space_top">
        <div class="col-md-3">
          <span><b>Location</b></span>
        </div>
        <div class="col-md">
          <span>{{adminDetails.resturantDetails.location}}</span>
        </div>
      </div>
      <div class="row space_top">
        <div class="col-md-3">
          <span><b>Landmarks neaby</b></span>
        </div>
        <div class="col-md">
          <!-- <span>32, walter highway, luxa street, North London, Europe.</span> -->
        </div>
      </div>
      <div class="row space_top">
        <div class="col-md-3">
          <span><b>Our branches</b></span>
        </div>
        <div class="col-md space_top">
          <!-- <span>32, walter highway, luxa street, North London, Europe.</span> -->
        </div>
      </div>
      <div class="row col-md space_top">
        <span><b>Customer Support</b></span>
      </div>
      <div class="row space_top">
        <div class="col-md-4">
          <a class="button btn btn-warning btn-lg">Complaints</a>
        </div>
        <div class="col-md-4">
          <a class="button btn btn-warning btn-lg">Feedback</a>
        </div>
      </div>
    </div>
  </div>
</div>