<app-header></app-header>
<div class="container">
  <div class="row row-content mt-5 align-items-center">
    <div class="col-sm-4 col-md-3 justify-content-center">
      <h2>What we <span class="brand-color">Do?</span></h2>
      <p>Lorem Ipsum is simply
        dummy text of the printing
        and typesetting industry.</p>
      <button class="btn btn-default">Get Started</button>
    </div>
    <div class="col-sm col-md text-center">
      <div class="float-right">
        <img class="d-flex mt-0 img-thumbnail" src="../../assets/1.PNG" alt="uthappizza">
      </div>
    </div>
  </div>

  <div class="row row-content align-items-center">
    <div class="col-sm col-md text-center">
      <div class="float-left">
        <img class="d-flex mt-0 img-thumbnail" src="../../assets/2.PNG" alt="uthappizza">
      </div>
    </div>
    <div class="col-sm-4 col-md-3 float-right justify-content-center">
      <h2>How it <span class="brand-color">Works?</span></h2>
      <div>
        <ul>
          <li>Lorem ipsum is simply dummy text.</li>
          <li>Lorem ipsum is simply dummy text.</li>
          <li>Lorem ipsum is simply dummy text.</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row row-content align-items-center">
      <div class="col-sm-4 col-md-3 justify-content-center">
        <h2>Our <span class="brand-color">Partners</span></h2>
        <p>Lorem Ipsum is simply
          dummy text of the printing
          and typesetting industry.</p>
      </div>
      <div class="col-sm col-md text-center">
        <div class="float-right">
          <img class="d-flex mt-0 img-thumbnail" src="../../assets/3.PNG" alt="uthappizza">
        </div>
      </div>
    </div>
</div>
<app-footer></app-footer>