<div class="example-container overflow-handling" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <span class="fa fa-bars fa-lg"></span>
    </button>
    <span class="display-right"></span>
    <a *ngIf="username">{{username}}</a>
    <a *ngIf="username" mat-button (click)="logOut()"><span class="fa fa-sign-out fa-lg"></span> Logout</a>
  </mat-toolbar>


  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="400" class="color">
      <div class="overflow-handling">
        <mat-list-item>
          <h3 class="mt-2 text-center">Food Style</h3>
        </mat-list-item>
        <div *ngFor="let type of foodTypes; let i = index">
          <mat-list-item class="mt-2">
            <div class="row">
              <div class="col-md-10 ml-4">
                <div class="ml-2 mt-2">
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        {{type.category}}
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div *ngFor="let dish of type.menus">
                      {{dish.name}}<br>
                      <mat-divider></mat-divider>
                    </div>
                  </mat-expansion-panel>
                </div>
              </div>
              <!-- <div class="col-md-2 mt-3 align-item-center">
              <a class="button" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-plus"
                  aria-hidden="true"></i></a>
            </div> -->
            </div>
          </mat-list-item>
        </div>
        <div class="mt-5">
          <mat-list-item class="text-center">
            <a routerLink="/merchant/navbar/request">Back To orders</a>
          </mat-list-item>
        </div>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="container-fluid">
        <div class="row float-right mt-3">
          <div *ngIf="delete">
            <a class="btn btn-warning" data-toggle="modal" data-target="#exampleModal">Add Dish</a>
          </div>&nbsp;
          <mat-slide-toggle fxFlex [(ngModel)]="delete" [color]="Warn">
            Update items!
          </mat-slide-toggle>
        </div>
        <div *ngFor="let food of foodTypes">
          <div class="">
            <div class="row col-md-12">
              <h2>{{food.category}}</h2>
            </div>
            <div class="row">
              <div *ngFor="let dish of food.menus">
                <div class="col-md-3">
                  <div class="card" style="width: 18rem;">
                    <div class="img-wrap">
                      <button mat-icon-button class="close" *ngIf="delete" (click)="deleteDish(dish.id)">
                        <span style="color: red;" class="fa fa-times fa-lg"></span>
                      </button>
                      <img src="{{dish.photo}}" class="card-img-top" alt={{dish.name}}>
                    </div>
                    <div class="card-body">
                      <p class="card-text"><b>{{dish.name}}</b><span class="float-right">{{dish.original_price}}</span>
                      </p>
                    </div>
                  </div>
                  <!--card ends-->
                </div>
              </div>
              <!--Nested for loop ends-->
            </div>
          </div>
        </div> <!-- First loop ends-->
      </div> <!-- Container fluid ends-->
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>


<!-- Modal -->
<div class="modal modal-1 fade main-model" id="exampleModal" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Item</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="dish name">Dish Name</label>
                <input type="name" class="form-control" id="name" aria-describedby="nameHelp" placeholder="Dish name">
              </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="dish_category">Dish Category</label>
                    <select class="form-control" id="dish" name="dish">
                      <option *ngFor="let food of foodTypes" [value]="food.category">{{food.category}}</option>
                    </select>
                </div>
              </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="price">Price</label>
                <input type="name" class="form-control" id="price" placeholder="Price">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="quantity">Quantity</label>
                <input type="name" class="form-control" id="quantity" placeholder="quantity">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="offer">Offer</label>
                <input type="name" class="form-control" id="offer" placeholder="Offer">
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Add</button>
        <div class="vertical-expansion">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Add image
              </mat-panel-title>
            </mat-expansion-panel-header>
            <input type="file" name="pic" accept="image/*">
            <input type="submit">
          </mat-expansion-panel>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal" tabindex="-1" id="exampleModal1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <input type="text">
      <span>Hello this is the text</span>
    </div>
  </div>
</div>