.split {
    height: 100%;
    width: 40%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }

  /* Control the left side */
  .left {
    left: 0;
    background-color: white;
  }

  .right {
    right: 0;
    z-index: -1;
    background-color: #111;
  }

.centered {
    position: fixed;
    top: 40%;
    left: 60%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid yellow;
    height: 250px;
    width: 250px;
    box-shadow: 5px 7px #dfdfdff3;
}

.form-position {
    top: 15%;
    right: 5%;
}

.space_left {
    margin-left: 50px;
}

.space_top {
    margin-top: 50px;
}

.half-width {
    width: 65%;
}

.button-color {
    width: 65%;
    background-color: yellow;
}

.brand-color {
    color: yellow;
}

#text_size {
    font-size: 30px;
}

@media only screen and (max-width: 600px) {
    .hide {
        visibility: hidden;
    }
  }