/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import url('https://fonts.googleapis.com/css?family=Play');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    overflow-x: hidden;
    background-color: #FFFFFF;
}
.color {
     background-image: linear-gradient(to bottom,#FFDA61,#FF5353);
}

*{
    font-family: 'Play', sans-serif;
}